.body{
  margin: 2em;
}

.pokemons-container{
  display: flex;
  list-style-type: none;
  flex-flow: row wrap;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}
.pokemons-container h2 {
  text-align: center;
}

.pokemon-card{
  width: 250px;
  height: 150px;
  box-shadow: 0 0 10px 6px rgb(168, 140, 140);
  border-radius: 6px;
  text-align: center;
  margin: 5px;
  /* background-color: aqua; */
}

.images{
  width: 250px;
  height: 150px;
}